body{
    background-color:rgb(255, 255, 255);
}
.pDiferente{
    color:rgba(15, 34, 177, 0.79);
}
.divHSL{
    width: 50%;
    background-color:hsla(187, 52%, 78%, 0.427);
    padding-top: 10%;
    padding-left: 20%;
    padding-right: 50%;
    padding-bottom: 10%;
    
}
.divHS{
    width: 50%;
    background-color:hsla(64, 73%, 69%, 0.91);
    padding-top: 10%;
    padding-left: 20%;
    padding-right: 50%;
    padding-bottom: 10%;
    
}
.divHL{
    width: 50%;
    background-color:hsla(14, 90%, 49%, 0.91);
    padding-top: 10%;
    padding-left: 20%;
    padding-right: 50%;
    padding-bottom: 10%;
    
}